[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "dotbot-brew"]
	path = dotbot-brew
	url = https://github.com/d12frosted/dotbot-brew.git
[submodule ".oh-my-zsh/themes/powerlevel10k"]
	path = .oh-my-zsh/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
